.my-image {
    width: 10rem;
    border-radius: 100%;
}

li {
    list-style: none;
}

.about-me {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-center {
    margin: 15px;
}

.project1 {
    background-image: url(../images/Screenshot\ 2023-11-28\ at\ 22.18.19.png);
    height: 140px;
    width: 140px;
    border-radius: 100%;
}

h3 {
    margin: 15px;
}