.my-image {
    width: 10rem;
    border-radius: 100%;
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}


.btn:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

li {
    list-style: none;
}

.about-me {
    margin-top: 50px;
    margin-bottom: 50px;
}

.jumbotron {
    background-color: aliceblue;
    padding-bottom: 50px;
}

.jumbotron-heading {
    padding-top: 50px;
}
.text-center {
    margin: 15px;
}

.project1 {
    background-image: url(../images/Screenshot\ 2023-11-28\ at\ 22.18.19.png);
    height: 140px;
    width: 140px;
    border-radius: 100%;
}

h3 {
    margin: 15px;
}

.featurette-divider {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mail {
    height: 300px;
    width: 600px;
    justify-content: right;
}